@media only screen and (min-width: 35rem) {
header h1 {font-size: 2rem}
    section.who {font-size: 1.6rem}
    h2 {font-size: 1.5rem;}

    .assignments {
        column-count: 2;
    }

    header img {
    width: 120px;
    height: auto;
}

footer {
  text-align: center;
}

} /* end media query*/