/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


:root {
    scroll-behavior: smooth;
}


body {
  font-family: "Cormorant Garamond", serif;
  --lightweight: 300;
  --heavyweight: 700;
  --primarycolor: white;
  scroll-behavior: smooth;
}




nav {
    position:sticky;
    top: 40px;
    background-color: #002333;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;;
}

nav a {
    padding: .8rem .5rem;
    display: block;
    text-decoration: none;
    color: #DEEFE7;
    font-weight: var(--heavyweight);
}

nav a:hover {
    background-color: lightgray;
    color: white;
}


section#about {
    padding: 50px;
    background-color:#FFFFFF;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#about h1 {
    font-size: 2rem;
    text-align: center;
}

section#about h2 {
    font-size: 1.5rem;
    color: #DEEFE7;
    text-align: center;
}

section#projects {
    background-color:#DEEFE7;
    min-height: 100vh;
    padding: 50px;
}

section#projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

section#projects figure {
    margin: 0;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

section#projects img {
    width: 100%;
    display: block;
}

div.theParent {
    display: flex;
    flex-wrap: wrap;
}

div.theParent a {
    flex-basis: 100%;
    padding: 1rem 2vw;
}

section#contact {
    background-color: #002333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;

}

section#contact h2 {
    color: white;
    text-align: center;
}

section#contact ul {
    display: flex;
    justify-content: space-around;
}

section#contact li {
    list-style-type:none;
}

section#contact a {
    color:white;
    text-decoration: none;
    display:block;
    transition: transform 0.3s ease-in-out;
}

section#contact a img {
    height: 50px;
    display: block;
    text-align: center;
    width: 100%;
} 

section#contact a:hover {
    text-decoration: underline;
    transform: translateY(10px);
}

footer p, footer span {
    font-size: 2rem;
    text-align: center;
    color: #0F6466;
    padding: 1rem 0;
}